@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

@keyframes spinAround {
	from {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(360deg);
	}
}

html{
  scroll-behavior: smooth;
}

/*--Welcome--*/
.welcome{
  background-image: url();
}

/*--Cards--*/
.card-bg{
  background-color: #3f3f3f;
}

/*--Back to top--*/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/*--Logos--*/
.fa-facebook-f{
  color:#3b5998;
}

.fa-instagram{
  color: #E1306C;
}

.fa-twitter{
  color:#00acee;
}

.fa-github{
  color:#211F1F;
}

.fa-html5{
  color:#e54d26;
}

.fa-css3{
  color:#264de4;
}

.fa-bootstrap{
  color:#602c50;
}

.fa-php{
  color:#474A8A;
}

.fa-html5, .fa-css3, .fa-bootstrap, .fa-php, .fa-facebook-f, .fa-instagram, .fa-twitter, .fa-github{
  font-size: 3em;
}

.fa-facebook-f:hover, .fa-instagram:hover, .fa-twitter:hover, .fa-github:hover{
  animation: spinAround 2s linear infinite;
  
  box-shadow: 0 0 0 4px rgba(255,255,255,1);
	transition: background 0.2s, color 0.2s;	
  
  color: #d5d5d5;
}

/*--Footer-- */

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}